@{
    ViewBag.Title = "Contactenos";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Ovidio Lagos 944<br />
    Rosario, SF 2000<br />
    <abbr title="Phone">P:</abbr>
    +54 341 2177 861
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:Support@example.com">info@shareyourtrip.com</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@shareyourtrip.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@shareyourtrip.com</a><br />
    <strong>Mariela Lanciotti:</strong> <a href="mailto:Marketing@example.com">m.lanciotti@shareyourtrip.com</a><br />
    <strong>Martin Aybar:</strong> <a href="mailto:martinaybar@gmail.com">martinaybar@gmail.com</a>
</address>