<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>

  <connectionStrings>
    <add name="ShareYourTripConnection" connectionString="Data Source=.\SQLEXPRESS;initial catalog=shareyourtrip-dev-db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
</configuration>